<div class="mt-4">
	<div class="text-left">
		<p class="mb-4">
			I'm a Ruby on Rails engineer and former strategic communications consultant, currently based in Lisbon, Portugal, operating across the global tech sector for more than a decade
		</p>
		<p class="mb-4"> My 7 year life as an engineer has been spent developing and maintaining large-scale commercial software in a diverse range of industries including fintech, education, art and logistics</p>
		<p class="mb-4">I like working with organisations who do try to impose a positive impact on society. I have lived across Europe and Africa and travelled to many further away places</p>
		<p class="mb-4">I enjoy building good products and even better teams, and I firmly believe that the latter makes the former inevitable</p>
		<p class="mb-4">Mainly I have worked with Ruby, Rails, React, Typescript, Postgres and MySql, with some Objective-C, MongoDB and PHP</p>
		<p class="mb-4">Other tools include Sidekiq, AWS, Redis, Heroku, Devise and so many more</p>
		<p>Outside of engineering, I'm a keen footballer (soccer if that's your preference), skier and rather terrible, yet enthusiastic oenophile</p>
	</div>
</div>
