<div class="mt-4 text-white text-right h-48 mr-5">
	<br>
	<br>
	<p class="mb-4 text-hidden"><%= link_to 'goles.soccer', 'https://goles.soccer' %></p>
	<p class="text-hidden">Modelling out the statistics of the English Premier League,</p>
	<p class="text-hidden">I like football so it feels like a hobby Rails with Tailwind,</p>
	<p class="text-hidden">Postgres, some Chart.js and Turbo thrown in, and hosted on</p>
	<p class="text-hidden">a Digital Ocean server. Data comes from<span><%= link_to ' API Football', 'https://rapidapi.com/api-sports/api/api-football' %></span></p>
	<br>
	<br>
</div>
<div class="mt-4 text-white text-left ml-5">
	<br>
	<br>
	<br>
	<br>
	<p class="mb-4 text-hidden">Living in Portugal, I am working towards learning the language</p>
	<p class="text-hidden">Also, after living in South Africa as well, I've come to</p>
	<p class="text-hidden">love a good wine, so am now a wannabe oenophile</p>
	<br>
	<br>
</div>
